@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap'); */


:root {
    --accent-blue: #2869FF;
    --accent-purple: #6F02F7;
    --grey-900: #0D0D0D;
    --grey-800: #4D4D4D;
    --grey-600: #808080;
    --grey-400: #BFBFBF;
    --grey-100: #FAFAFA;
    --label-letter-spacing: 5%;
    --font-family: 'Figtree', sans-serif;
}


html {
    font-family: var(--font-family), sans-serif;
    color: var(--grey-900);

}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600; /* Semibold */
}

label {
    letter-spacing: var(--label-letter-spacing);
    text-transform: capitalize;
}

.primary-button {
    @apply bg-[var(--accent-purple)] text-white py-2 px-5 rounded-lg font-semibold;
}

.secondary-button {
    @apply bg-[var(--grey-100)] text-[var(--accent-purple)] py-2 px-5 rounded-lg font-semibold border border-[var(--accent-purple)];
}

.service-box {
    @apply border-2 border-[var(--accent-purple)] rounded-lg p-4 text-center h-[110px] w-[110px] sm:h-[150px] sm:w-[150px] sm:text-xl flex items-center justify-center;
}

.heading-1 {
    @apply text-5xl md:text-7xl mb-6;
    line-height: normal;
}

.heading-2 {
    @apply text-3xl md:text-4xl mb-6;
}

.heading-3 {
    @apply text-2xl md:text-4xl mb-6;
}

.text-larger {
    @apply text-xl md:text-2xl;
}